.section1 {
    background-image: url(img/bitcoin.jpg);
    height: auto;
    background-size: cover;
    text-align: center;
    color: aliceblue;
    width: 100%;
    padding: 10%;
   
}

h1,h2{
    color: aliceblue;
}
.form-group{
    text-align: left;

}
.section2 h2{
    color: black;
}
