.section1 {
    background-image: url(assets/img/bitcoin.jpg) no-repeat center center;
    height: auto;
    background-size: cover;
    text-align: center;
    color: aliceblue;
    width: 100%;
    padding: 10%;
    position: fixed;
    background-attachment: fixed;
   
}

h1,h2{
    color: aliceblue;
}
.form-group{
    text-align: left;

}
.section2-title h2{
    color: black;
}
/* body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(img/bitcoin.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */