.section1 {
    background-image: url(img/bt2.jpg);
    height: auto;
    background-size: cover;
    text-align: center;
    color: aliceblue;
    padding: 10%;
    display: block;
    max-width: 100%;
}

h1,
h2 {
    color: aliceblue;
}
.form-group {
    text-align: left;
}
.section2 h2 {
    color: black;
}
