.section1 {
  background-image: url(img/bitcoin.jpg);
  height: 80%;
  background-size: cover;
  text-align: center;
  color: aliceblue;
  padding: 5%;
  display: block;
  max-width: 100%;
}
.heading {
  margin-bottom: 22px;
}
.description {
  margin-bottom: 18px;
  font-weight: 600;
}
.form-group {
  text-align: left;
}
.btn {
  background-color: rgb(16, 16, 46);
  color: rgb(219, 228, 236);
  border-color: #007bff;
  border-radius: 10px;
  box-shadow: 2px 5px rgb(26, 26, 97);
}
.btn:hover {
  background-color: rgb(26, 26, 97);
  font-weight: bold;
  color: rgb(250, 245, 239);
}

.section2 h2 {
  color: black;
}

.section2-title {
  border-bottom: 3px solid rgb(209, 9, 9);
  padding-bottom: 4px;
  margin-top: 12px;
}

/* footer.a {
    color: aliceblue;
}

a:hover {
    color: aliceblue;
    text-decoration: none;
} */

footer {
  background-color: rgb(44, 44, 110);
  color: aliceblue;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}
.result {
  background-color: rgb(32, 32, 92);
  margin: 13px;
  width: 70%;
  margin-left: 14%;
  border: 2px solid rgb(141, 16, 16);
  color: rgb(240, 234, 234);
  display: none;
}
.card {
  height: 100;
  width: 100;
}
a {
  text-decoration: none;
  color: black;
}

.prev, .next border: 1px solid black padding: 0.5rem .prev visibility: hidden;
